/*@charset "utf-8";*/
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}

h1 {
    color: black;
    font-size: 50px;
}

.caja{
    width: 2000px;
    height: 2000px;
    background-color: darksalmon;
    padding: 30px;
    margin: auto;
    border-width: 30px;
    border-style: double;
    border-color: black;
}