/*@charset "utf-8";*/
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}

h1 {
    color: skyblue;
    font-size: 50px;
    font-family: "Shrikhand", serif;
}

/*shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }*/

.caja {
    width: 2000px;
    height: 2000px;
    background-color: white;
    padding: 30px;
    margin: auto;
    border-width: 30px;
    border-style:solid;
    border-color: skyblue;
}

/*.botonera {
    width: 2000px;
    height: 30px;
    background-color: skyblue;
    margin-left: 0%;
}*/

nav {
background-color: skyblue;
width: 2000px;
height: 30px;
display: flex;
justify-content: center;
}

nav ul {
    list-style: none;
    width: 400px;
}

nav li {
    display:inline-block;
    width: auto;
    height: 80px;
    margin: 10px;
    font-family: Helvetica;
}

a {
    text-decoration: none;
    cursor: help;
    text-align: center;
}

a :link {
    color: red;
}

.flex-container {
    width: 900px;
    height: 500px;
    background-color: none;
    margin: 10 px;
    padding: 5px;
    display: flex
}

.flex-item {
    background-color: skyblue;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}